@use 'grid' as *;

/* hero content on landing page */
.resume_title__wrapper {
  width: 100%;
  height: calc(100vh - 203px); //203px is an approximate total height of header and footer in mobile devices
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 1;

  /* for desktop using custom height */
  @include mq(desktop) {
    height: 100%;
    min-height: 500px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-left: 10em;
  }

  @include mq(quad) {
    min-height: 800px;
  }

  .resume_title {
    h1 {
      line-height: 1.1;

      @include mq(mobile) {
        font-size: 2rem;
      }

      @include mq(tablet) {
        font-size: 3rem;
      }

      @include mq(quad) {
        font-size: inherit;
      }
    }
  }
}
