.behance {
  width: 40px;
  height: 25px;
  position: relative;
  top: 3px;
  background: url(../svg/behance.svg);
}

.codepen {
  width: 35px;
  height: 35px;
  background: url(../svg/codepen.svg);
}

.linkedin {
  width: 35px;
  height: 35px;
  background: url(../svg/linkedin.svg);
}

.twitter {
  width: 40px;
  height: 32px;
  background: url(../svg/twitter.svg);
}