@use 'grid' as *;

/* visual hack for mobile */
@include mq(mobile){
  html{
    margin-left: -1em;
  }
}

@include mq(quad){
  html{
    margin: 0;
  }
}

/* All SVG shapes */
body {
  background-image: url(../svg/rightshape.svg);
  background-position: 104% 103%;
  background-repeat: no-repeat;

  @include mq(quad){
      background-position: right 100%;
  }
}

/* left SVG shape => only visible in desktop */

@include mq(mobile) {
  #left_shape {
    display: none;
  }
}

@include mq(quad) {
  #left_shape {
    display: inline-block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
  }
}
