ul{
    //nav wrapper
    &.nav{
        padding: 1em 0;
        
        //list items
        li{
            a{
                padding: 1em;
                transition: color .2s linear;
                
                //anchor hover/focus states
                &:hover,
                &:focus{
                    color: #DCDBDB;
                }
            }
        }
    }
}