/* font colors */
.resume_header_color {
  color: #DCDBDB;
}

.resume_nav_color {
  color: #BBB7B7;
}

.resume_content_color {
  color: #fff;
}

/* font weight */
.resume_light {
  font-weight: 300;
}

.resume_normal {
  font-weight: 400;
}

.resume_bold {
  font-weight: 700;
}

.resume_black {
  font-weight: 900;
}

/* font size */
.resume_90pt {
  font-size: 5.5rem;
}

.resume_70pt {
  font-size: 3.5rem;
}

.resume_25pt {
  font-size: 1.5rem;
}

.resume_20pt {
  font-size: 1rem;
}

/* flexbox based grid */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

[class^=col-] {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

/* for mobile */
@media (min-width: 375px) {
  .col_sm_1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }

  .col_offset_sm_1 {
    margin-left: 8.3333333333%;
  }

  .col_sm_2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }

  .col_offset_sm_2 {
    margin-left: 16.6666666667%;
  }

  .col_sm_3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }

  .col_offset_sm_3 {
    margin-left: 25%;
  }

  .col_sm_4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }

  .col_offset_sm_4 {
    margin-left: 33.3333333333%;
  }

  .col_sm_5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }

  .col_offset_sm_5 {
    margin-left: 41.6666666667%;
  }

  .col_sm_6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .col_offset_sm_6 {
    margin-left: 50%;
  }

  .col_sm_7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }

  .col_offset_sm_7 {
    margin-left: 58.3333333333%;
  }

  .col_sm_8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }

  .col_offset_sm_8 {
    margin-left: 66.6666666667%;
  }

  .col_sm_9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }

  .col_offset_sm_9 {
    margin-left: 75%;
  }

  .col_sm_10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }

  .col_offset_sm_10 {
    margin-left: 83.3333333333%;
  }

  .col_sm_11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }

  .col_offset_sm_11 {
    margin-left: 91.6666666667%;
  }

  .col_sm_12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .col_offset_sm_12 {
    margin-left: 100%;
  }
}
/* for tablet */
@media (min-width: 768px) {
  .col_md_1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }

  .col_offset_md_1 {
    margin-left: 8.3333333333%;
  }

  .col_md_2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }

  .col_offset_md_2 {
    margin-left: 16.6666666667%;
  }

  .col_md_3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }

  .col_offset_md_3 {
    margin-left: 25%;
  }

  .col_md_4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }

  .col_offset_md_4 {
    margin-left: 33.3333333333%;
  }

  .col_md_5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }

  .col_offset_md_5 {
    margin-left: 41.6666666667%;
  }

  .col_md_6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .col_offset_md_6 {
    margin-left: 50%;
  }

  .col_md_7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }

  .col_offset_md_7 {
    margin-left: 58.3333333333%;
  }

  .col_md_8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }

  .col_offset_md_8 {
    margin-left: 66.6666666667%;
  }

  .col_md_9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }

  .col_offset_md_9 {
    margin-left: 75%;
  }

  .col_md_10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }

  .col_offset_md_10 {
    margin-left: 83.3333333333%;
  }

  .col_md_11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }

  .col_offset_md_11 {
    margin-left: 91.6666666667%;
  }

  .col_md_12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .col_offset_md_12 {
    margin-left: 100%;
  }
}
/* for desktop */
@media (min-width: 992px) {
  .col_lg_1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }

  .col_offset_lg_1 {
    margin-left: 8.3333333333%;
  }

  .col_lg_2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }

  .col_offset_lg_2 {
    margin-left: 16.6666666667%;
  }

  .col_lg_3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }

  .col_offset_lg_3 {
    margin-left: 25%;
  }

  .col_lg_4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }

  .col_offset_lg_4 {
    margin-left: 33.3333333333%;
  }

  .col_lg_5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }

  .col_offset_lg_5 {
    margin-left: 41.6666666667%;
  }

  .col_lg_6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .col_offset_lg_6 {
    margin-left: 50%;
  }

  .col_lg_7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }

  .col_offset_lg_7 {
    margin-left: 58.3333333333%;
  }

  .col_lg_8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }

  .col_offset_lg_8 {
    margin-left: 66.6666666667%;
  }

  .col_lg_9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }

  .col_offset_lg_9 {
    margin-left: 75%;
  }

  .col_lg_10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }

  .col_offset_lg_10 {
    margin-left: 83.3333333333%;
  }

  .col_lg_11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }

  .col_offset_lg_11 {
    margin-left: 91.6666666667%;
  }

  .col_lg_12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .col_offset_lg_12 {
    margin-left: 100%;
  }
}
/* for quad HD desktops min. 1200px width */
@media (min-width: 1200px) {
  .col_xl_1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }

  .col_offset_xl_1 {
    margin-left: 8.3333333333%;
  }

  .col_xl_2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }

  .col_offset_xl_2 {
    margin-left: 16.6666666667%;
  }

  .col_xl_3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }

  .col_offset_xl_3 {
    margin-left: 25%;
  }

  .col_xl_4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }

  .col_offset_xl_4 {
    margin-left: 33.3333333333%;
  }

  .col_xl_5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }

  .col_offset_xl_5 {
    margin-left: 41.6666666667%;
  }

  .col_xl_6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .col_offset_xl_6 {
    margin-left: 50%;
  }

  .col_xl_7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }

  .col_offset_xl_7 {
    margin-left: 58.3333333333%;
  }

  .col_xl_8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }

  .col_offset_xl_8 {
    margin-left: 66.6666666667%;
  }

  .col_xl_9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }

  .col_offset_xl_9 {
    margin-left: 75%;
  }

  .col_xl_10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }

  .col_offset_xl_10 {
    margin-left: 83.3333333333%;
  }

  .col_xl_11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }

  .col_offset_xl_11 {
    margin-left: 91.6666666667%;
  }

  .col_xl_12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .col_offset_xl_12 {
    margin-left: 100%;
  }
}
/* visual hack for mobile */
@media (min-width: 375px) {
  html {
    margin-left: -1em;
  }
}
@media (min-width: 1200px) {
  html {
    margin: 0;
  }
}
/* All SVG shapes */
body {
  background-image: url(../svg/rightshape.svg);
  background-position: 104% 103%;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  body {
    background-position: right 100%;
  }
}

/* left SVG shape => only visible in desktop */
@media (min-width: 375px) {
  #left_shape {
    display: none;
  }
}
@media (min-width: 1200px) {
  #left_shape {
    display: inline-block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
  }
}
/* hero content on landing page */
.resume_title__wrapper {
  width: 100%;
  height: calc(100vh - 203px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
  /* for desktop using custom height */
}
@media (min-width: 992px) {
  .resume_title__wrapper {
    height: 100%;
    min-height: 500px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding-left: 10em;
  }
}
@media (min-width: 1200px) {
  .resume_title__wrapper {
    min-height: 800px;
  }
}
.resume_title__wrapper .resume_title h1 {
  line-height: 1.1;
}
@media (min-width: 375px) {
  .resume_title__wrapper .resume_title h1 {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .resume_title__wrapper .resume_title h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .resume_title__wrapper .resume_title h1 {
    font-size: inherit;
  }
}

.resume_about {
  height: 100vh;
  position: absolute;
  z-index: 2;
  top: 0;
  left: -1000px;
  opacity: 1;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/background.jpg);
}
.resume_about:target {
  left: 0;
}
@media (min-width: 375px) {
  .resume_about {
    width: 100vw;
  }
}
@media (min-width: 1200px) {
  .resume_about {
    width: 100%;
    max-width: 1200px;
  }
}
@media (min-width: 375px) {
  .resume_about hgroup,
.resume_about .resume_contact {
    padding: 1em;
  }
}
@media (min-width: 768px) {
  .resume_about hgroup,
.resume_about .resume_contact {
    padding: 2em;
  }
}
@media (min-width: 1200px) {
  .resume_about hgroup,
.resume_about .resume_contact {
    padding: 2em 3em;
  }
}
.resume_about h3 {
  padding-bottom: 0.5em;
}
.resume_about h1 {
  width: 200px;
  border-bottom: 2px solid white;
  margin-bottom: 0.4em;
  padding-bottom: 0.4em;
}
.resume_about .resume_brief {
  padding-top: 0;
  padding-bottom: 0.5em;
  line-height: 1.6;
}
@media (min-width: 375px) {
  .resume_about .resume_brief {
    padding-left: 1em;
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .resume_about .resume_brief {
    padding-left: 1.4em;
    font-size: 1.4em;
  }
}
@media (min-width: 1200px) {
  .resume_about .resume_brief {
    padding: 0 2.3em;
    font-size: 1.5rem;
  }
}
.resume_about .resume_contact dd {
  padding: 0.5em 0;
}

.behance {
  width: 40px;
  height: 25px;
  position: relative;
  top: 3px;
  background: url(../svg/behance.svg);
}

.codepen {
  width: 35px;
  height: 35px;
  background: url(../svg/codepen.svg);
}

.linkedin {
  width: 35px;
  height: 35px;
  background: url(../svg/linkedin.svg);
}

.twitter {
  width: 40px;
  height: 32px;
  background: url(../svg/twitter.svg);
}

/* resets */
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #161616;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  text-align: left;
}
body * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

li {
  display: inline;
}

a {
  display: inline-block;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */