@use 'partials' as *;

/* resets */
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $base_color;
  font-family: $default_font;
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  text-align: left;

  & * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0;
    border: none;
    outline: none;
    background-color: transparent;
    text-decoration: none;
  }
}

ul, li{
    list-style: none;
}

li{
    display: inline;
}

a{
    display: inline-block;
    cursor: pointer;
}
